body {
    font-family: Arial, sans-serif;
    background-color: #800080; /* Fundo roxo */
    color: white; /* Texto branco */
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    border: 5px solid white; /* Borda ao redor do conteúdo */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px;
}

h1, h2 {
    color: #fff;
    border: 2px solid white; /* Borda ao redor dos títulos */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
}

nav {
    margin: 20px 0; /* Margens superiores e inferiores */
}

button {
    background-color: #7a1ea1; /* Cor dos botões */
    color: white;
    border: 2px solid #fff; /* Borda dos botões */
    border-radius: 10px;
    padding: 15px 25px; /* Espaçamento interno do botão */
    cursor: pointer;
    margin: 5px; /* Margem entre os botões */
    transition: background-color 0.3s; /* Transição suave */
}

button:hover {
    background-color: #5e0f5e; /* Cor de fundo ao passar o mouse */
}

.imagem-inicial {
    width: 100%; /* Imagem ocupa toda a largura */
    max-width: 600px; /* Largura máxima da imagem */
    border-radius: 15px; /* Bordas arredondadas */
}

.letra-musica {
    margin: 20px 0; /* Margem superior e inferior para separar do restante */
    text-align: left; /* Alinhamento do texto à esquerda */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo com leve transparência */
    padding: 15px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    color: white; /* Cor do texto */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: 150px; /* Largura das imagens da galeria */
    margin: 10px; /* Margem entre as imagens */
    cursor: pointer; /* Cursor muda ao passar o mouse */
    border-radius: 10px; /* Bordas arredondadas das imagens */
}

.modal {
    display: none; /* Oculta o modal */
    position: fixed; /* Fixa o modal */
    z-index: 1; /* Coloca o modal acima do conteúdo */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona rolagem se necessário */
    background-color: rgb(0,0,0); /* Fundo preto */
    background-color: rgba(0,0,0,0.9); /* Fundo preto com transparência */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; /* Largura da imagem no modal */
    max-width: 700px; /* Largura máxima da imagem no modal */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white; /* Cor do botão fechar */
    font-size: 40px; /* Tamanho do botão fechar */
    font-weight: bold; /* Negrito */
    transition: 0.3s; /* Transição suave */
}

.close:hover,
.close:focus {
    color: #bbb; /* Cor ao passar o mouse */
    text-decoration: none; /* Remove o sublinhado */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
}

